body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6baf8d;
    --sb-size: 11px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Background and Overlay */
.header {
    position: relative;
    height: 100vh;
    background: url('https://www.transparenttextures.com/patterns/dark-matter.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: transform 0.3s ease;
}

.title {
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
}

.subtitle {
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    color: #000000;
}


.about {
    height: 100vh;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.project {
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;

}

.project-card {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.alert {
    display: none;
}

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}