body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6baf8d;
    --sb-size: 11px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-container section {
    scroll-snap-align: start;
    height: 100vh;
    font-size: 2rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.header,
.about,
.portfolio,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header,
.portfolio {
    height: 100vh;
    background: url('https://www.transparenttextures.com/patterns/dark-matter.png') center/cover no-repeat;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: transform 0.3s ease;
}

.title {
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
}

.subtitle {
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    color: #000000;
}


.project-card {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.alert {
    display: none;
}